.app {
  display: flex;
  height: 100vh;
  text-align: center;
}

.sidebar-component {
  width: 20%;
  max-width: 250px;
  padding: 20px;
  background-color: #f4f4f4;
  border-right: 1px solid #ddd;
}

.grid-component {
  flex-grow: 1;
  padding-top: 20px;
  padding-bottom: 20px;
}
